#background {
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: -1;
  width: 100vw;
  height: 75vh;
  object-fit: cover;
  opacity: 0.2;
}

#food-spread {
  grid-column: 2/3;
  grid-row: 3/4;
  width: clamp(600px, 60vw, 1000px);
  justify-self: center;
  object-fit: cover;
  margin: clamp(20px, 3vw, 48px);
}

#content {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-tag {
  margin-bottom: clamp(30px, 10vh, 60px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#restaurant-name {
  font-size: clamp(30px, 2.5vw, 60px);
}

.restaurant-tag {
  font-size: clamp(10px, 1.5vw, 20px);
  font-style: italic;
}

.serving-section {
  padding: clamp(10px, 5vh, 24px) clamp(40px, 10vw, 180px);
}

.serving-header {
  font-size: clamp(15px, 1.5vw, 30px);
}

.serving-stats, .serving-description {
  font-size: clamp(10px, 1.2vw, 18px);
}

.serving-wrapper {
  margin-bottom: clamp(15px, 2vw, 30px);
}