@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Pacifico&display=swap');

.cinzel-regular {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-style: normal;
}

/* CSS Reset by Josh W Comeau https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Cinzel", serif; /* custom */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* custom css */

#main-grid {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

#background {
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: -1;
  width: 100vw;
  height: 75vh;
  object-fit: cover;
  opacity: 0.2;
}

#food-spread {
  grid-column: 2/3;
  grid-row: 3/4;
  width: clamp(600px, 60vw, 1000px);
  justify-self: center;
  object-fit: cover;
  margin: clamp(20px, 3vw, 48px);
}

header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: clamp(20px, 3vw, 48px);
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  padding: 0;
  display: flex;
  gap: clamp(10px, 2vw, 20px);
}

header nav ul button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: clamp(12px, 1.2vw, 30px);
}

#logo {
  grid-column: 1/2;
  width: clamp(45px, 6.5vw, 80px);
  justify-self: center;
}

#content {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-tag {
  margin-bottom: clamp(30px, 10vh, 60px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#restaurant-name {
  font-size: clamp(30px, 2.5vw, 60px);
}

.restaurant-tag {
  font-size: clamp(10px, 1.5vw, 20px);
  font-style: italic;
}

.serving-section {
  padding: clamp(10px, 5vh, 24px) clamp(40px, 10vw, 180px);
}

.serving-header {
  font-size: clamp(15px, 1.5vw, 30px);
}

.serving-stats, .serving-description {
  font-size: clamp(10px, 1.2vw, 18px);
}